:root {
    --ebony: #4e5340ff;
    --ebony-2: #697268ff;
    --cadet-gray: #95a3a4ff;
    --columbia-blue: #b7d1daff;
    --alabaster: #e2e8ddff;

    --btn-bg: var(--cadet-gray);
    --btn-text: var(--alabaster);
    --btn-hover: var(--columbia-blue);
    --btn-active: var(--ebony-2);
    --btn-shadow: rgba(0, 0, 0, 0.2);
}

html, body {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--ebony);
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: var(--ebony-2);
}

h1 {
    text-align: center;
    color: var(--alabaster);
}

.container {
    border-top: solid 1px var(--cadet-gray);
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid var(--columbia-blue);
    border-radius: 10px;
    width: 500px;
    height: 500px;
    background-color: var(--alabaster);
    box-shadow: 0 2px 8px var(--btn-shadow);
    overflow: hidden;
}

button {
    padding: 10px 18px;
    margin: 6px;
    border-radius: 12px;
    border: none;
    color: var(--btn-text);
    background-color: var(--btn-bg);
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 6px var(--btn-shadow);
    transition: 0.2s ease;
}

button:hover {
    background-color: var(--btn-hover);
}

button:active {
    background-color: var(--btn-active);
}
